In [1]:
import pandas as pd
from nsepy import get_history
from datetime import date
import datetime as dt

In [2]:
company_name = 'PNB'

In [3]:
# df = get_history(symbol=company_name, start=date(2000,1,1), end=date(2021,6,7))
# df.to_csv('temp.csv')

In [4]:
# data = pd.read_csv('temp.csv', parse_dates=["Date"], index_col="Date")
data = pd.read_csv('temp.csv', parse_dates=["Date"])

In [5]:
drop_col = ['Symbol', 'Series', 'Trades', 'Turnover']

In [6]:
data.drop(drop_col, axis='columns', inplace=True)

In [7]:
data['Open Diff']=data['Open']-data['Prev Close']

In [8]:
data['Day Close Diff']=data['Close']-data['Open']

In [9]:
data['Day Of Week'] = data['Date'].dt.day_name()

In [10]:
data['%Deliverble'] = data['%Deliverble']  * 100

In [11]:
data.head()

,Date,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Deliverable Volume,%Deliverble,Open Diff,Day Close Diff,Day Of Week
0,2002-04-26,31.0,40.00,40.00,35.00,37.30,37.40,37.03,4000760,2048637.0,51.21,9.00,-2.60,Friday
1,2002-04-29,37.4,38.50,39.10,37.65,39.10,38.60,38.26,2602886,1632801.0,62.73,1.10,0.10,Monday
2,2002-04-30,38.6,39.00,40.35,38.50,40.15,40.10,39.79,1377334,NaN,NaN,0.40,1.10,Tuesday
3,2002-05-02,40.1,40.25,46.10,40.25,45.10,44.80,44.15,3348126,1307465.0,39.05,0.15,4.55,Thursday
4,2002-05-03,44.8,45.80,47.45,44.55,46.95,46.45,46.10,2689672,1032559.0,38.39,1.00,0.65,Friday

In [12]:
# data.reset_index(inplace = True)
data.set_index('Date', inplace=True)

In [13]:
data.head()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Deliverable Volume,%Deliverble,Open Diff,Day Close Diff,Day Of Week
Date,,,,,,,,,,,,,
2002-04-26,31.0,40.00,40.00,35.00,37.30,37.40,37.03,4000760,2048637.0,51.21,9.00,-2.60,Friday
2002-04-29,37.4,38.50,39.10,37.65,39.10,38.60,38.26,2602886,1632801.0,62.73,1.10,0.10,Monday
2002-04-30,38.6,39.00,40.35,38.50,40.15,40.10,39.79,1377334,NaN,NaN,0.40,1.10,Tuesday
2002-05-02,40.1,40.25,46.10,40.25,45.10,44.80,44.15,3348126,1307465.0,39.05,0.15,4.55,Thursday
2002-05-03,44.8,45.80,47.45,44.55,46.95,46.45,46.10,2689672,1032559.0,38.39,1.00,0.65,Friday

In [16]:
data.tail(45)

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Deliverable Volume,%Deliverble,Open Diff,Day Close Diff,Day Of Week
Date,,,,,,,,,,,,,
2021-03-31,36.15,36.10,37.65,35.75,36.60,36.65,36.86,117399302,14779014.0,12.59,-0.05,0.55,Wednesday
2021-04-01,36.65,37.00,38.50,36.80,38.25,38.20,37.49,100007430,13301543.0,13.30,0.35,1.20,Thursday
2021-04-05,38.20,38.55,38.55,36.20,36.95,36.95,37.00,103941329,14511387.0,13.96,0.35,-1.60,Monday
2021-04-06,36.95,36.95,37.55,36.25,37.10,37.05,37.07,94329535,7309321.0,7.75,0.00,0.10,Tuesday
2021-04-07,37.05,37.05,38.10,36.85,37.60,37.60,37.66,96171649,12372426.0,12.86,0.00,0.55,Wednesday
2021-04-08,37.60,37.75,38.10,37.35,37.50,37.45,37.77,68360846,6713964.0,9.82,0.15,-0.30,Thursday
2021-04-09,37.45,37.35,39.00,37.20,38.00,37.85,38.25,130289882,10604933.0,8.14,-0.10,0.50,Friday
2021-04-12,37.85,36.75,36.85,33.30,34.00,33.95,34.60,184407237,35957692.0,19.50,-1.10,-2.80,Monday
2021-04-13,33.95,34.00,35.30,33.65,35.05,35.10,34.48,147766538,16384671.0,11.09,0.05,1.10,Tuesday
2021-04-15,35.10,34.60,35.35,34.15,34.75,34.75,34.69,115658330,9505223.0,8.22,-0.50,0.15,Thursday
2021-04-16,34.75,35.00,35.40,34.50,34.70,34.80,34.94,100392762,9097589.0,9.06,0.25,-0.20,Friday
2021-04-19,34.80,33.60,33.80,32.50,33.05,33.15,32.96,122301341,15273129.0,12.49,-1.20,-0.45,Monday
2021-04-20,33.15,34.00,34.20,33.40,33.70,33.70,33.89,117371947,17127686.0,14.59,0.85,-0.30,Tuesday
2021-04-22,33.70,33.20,34.15,33.05,33.90,33.90,33.81,100459282,6487253.0,6.46,-0.50,0.70,Thursday
2021-04-23,33.90,33.50,34.70,33.40,33.95,34.00,34.21,122182836,7874494.0,6.44,-0.40,0.50,Friday
2021-04-26,34.00,34.25,34.70,34.25,34.40,34.45,34.46,73069756,7995182.0,10.94,0.25,0.20,Monday
2021-04-27,34.45,34.40,35.30,34.35,35.05,34.95,34.90,97206393,10544910.0,10.85,-0.05,0.55,Tuesday
2021-04-28,34.95,35.20,35.80,35.05,35.70,35.65,35.49,94894461,12685021.0,13.37,0.25,0.45,Wednesday
2021-04-29,35.65,35.80,36.20,34.90,35.00,35.05,35.35,127130844,15560080.0,12.24,0.15,-0.75,Thursday
2021-04-30,35.05,34.55,35.70,34.50,34.80,34.85,35.15,95008214,12635259.0,13.30,-0.50,0.30,Friday
2021-05-03,34.85,34.50,34.70,34.00,34.50,34.50,34.35,105720320,13708384.0,12.97,-0.35,0.00,Monday
2021-05-04,34.50,34.80,39.20,34.70,37.70,37.45,37.38,426069700,45330561.0,10.64,0.30,2.65,Tuesday
2021-05-05,37.45,38.55,38.70,37.15,37.30,37.45,37.66,178293892,28402622.0,15.93,1.10,-1.10,Wednesday
2021-05-06,37.45,37.50,37.75,36.20,36.30,36.40,36.67,114302420,18942150.0,16.57,0.05,-1.10,Thursday
2021-05-07,36.40,36.65,36.95,35.95,36.20,36.25,36.37,110980908,25985124.0,23.41,0.25,-0.40,Friday
2021-05-10,36.25,36.55,36.70,35.00,35.60,35.60,35.81,175653730,43812164.0,24.94,0.30,-0.95,Monday
2021-05-11,35.60,34.85,35.35,33.75,35.30,35.05,34.63,231689524,82721927.0,35.70,-0.75,0.20,Tuesday
2021-05-12,35.05,35.75,38.20,35.55,37.10,37.10,37.15,345869236,96459206.0,27.89,0.70,1.35,Wednesday
2021-05-14,37.10,37.80,38.40,36.50,36.75,36.80,37.38,185587845,44270530.0,23.85,0.70,-1.00,Friday
2021-05-17,36.80,37.20,37.80,36.85,37.75,37.65,37.49,108033820,29037826.0,26.88,0.40,0.45,Monday
2021-05-18,37.65,38.35,38.35,37.20,37.45,37.35,37.70,91471489,27192435.0,29.73,0.70,-1.00,Tuesday
2021-05-19,37.35,36.30,36.85,35.75,36.30,36.20,36.34,154514444,63887173.0,41.35,-1.05,-0.10,Wednesday
2021-05-20,36.20,36.50,37.90,35.95,37.90,37.50,37.18,339156585,112786901.0,33.26,0.30,1.00,Thursday
2021-05-21,37.50,38.00,38.35,37.55,38.15,38.05,37.97,178307284,51280999.0,28.76,0.50,0.05,Friday
2021-05-24,38.05,39.20,40.10,38.75,40.00,39.80,39.45,277203783,80843264.0,29.16,1.15,0.60,Monday
2021-05-25,39.80,40.40,40.50,39.20,39.35,39.35,39.67,163516340,44583797.0,27.27,0.60,-1.05,Tuesday
2021-05-26,39.35,39.50,40.25,39.05,39.30,39.25,39.62,155307751,40434128.0,26.03,0.15,-0.25,Wednesday
2021-05-27,39.25,39.50,42.40,39.40,42.00,42.15,41.11,511815455,114791375.0,22.43,0.25,2.65,Thursday
2021-05-28,42.15,42.80,42.80,41.00,42.35,42.25,41.90,335658662,56930579.0,16.96,0.65,-0.55,Friday
2021-05-31,42.25,42.35,43.20,41.60,42.30,42.40,42.50,240394043,36219971.0,15.07,0.10,0.05,Monday
2021-06-01,42.40,42.55,42.65,41.10,41.65,41.65,41.85,172714836,34218251.0,19.81,0.15,-0.90,Tuesday
2021-06-02,41.65,41.90,44.55,41.60,43.90,44.00,43.44,397167134,89029185.0,22.42,0.25,2.10,Wednesday
2021-06-03,44.00,44.50,45.00,43.40,43.45,43.70,44.20,265127956,55716266.0,21.01,0.50,-0.80,Thursday
2021-06-04,43.70,43.55,43.60,42.95,43.10,43.10,43.22,142152047,43952564.0,30.92,-0.15,-0.45,Friday
2021-06-07,43.10,43.00,43.10,41.85,42.15,42.10,42.25,157004801,57799862.0,36.81,-0.10,-0.90,Monday

In [15]:
# data.dtypes
# data.shape
# data.index

In [56]:
data = data[['Day Of Week','Prev Close','Open', 'High', 'Low', 'Last', 'Close','Open Diff', 'Day Close Diff']]

In [57]:
data.head()

,Day Of Week,Prev Close,Open,High,Low,Last,Close,Open Diff,Day Close Diff
Date,,,,,,,,,
2002-04-26,Friday,31.0,40.00,40.00,35.00,37.30,37.40,9.00,-2.60
2002-04-29,Monday,37.4,38.50,39.10,37.65,39.10,38.60,1.10,0.10
2002-04-30,Tuesday,38.6,39.00,40.35,38.50,40.15,40.10,0.40,1.10
2002-05-02,Thursday,40.1,40.25,46.10,40.25,45.10,44.80,0.15,4.55
2002-05-03,Friday,44.8,45.80,47.45,44.55,46.95,46.45,1.00,0.65

In [58]:
# df['Close'].mean()
data_2010 = data.loc['2010']
data_2011 = data.loc['2011']
data_2012 = data.loc['2012']
data_2013 = data.loc['2013']
data_2014 = data.loc['2014']
data_2015 = data.loc['2015']
data_2016 = data.loc['2016']
data_2017 = data.loc['2017']
data_2018 = data.loc['2018']
data_2019 = data.loc['2019']
data_2020 = data.loc['2020']
data_2021 = data.loc['2021']

In [59]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(company_name+'.xlsx', engine='xlsxwriter')

In [60]:
# Write each dataframe to a different worksheet.
data_2010.to_excel(writer, sheet_name='2010')
data_2011.to_excel(writer, sheet_name='2011')
data_2012.to_excel(writer, sheet_name='2012')
data_2013.to_excel(writer, sheet_name='2013')
data_2014.to_excel(writer, sheet_name='2014')
data_2015.to_excel(writer, sheet_name='2015')
data_2016.to_excel(writer, sheet_name='2016')
data_2017.to_excel(writer, sheet_name='2017')
data_2018.to_excel(writer, sheet_name='2018')
data_2019.to_excel(writer, sheet_name='2019')
data_2020.to_excel(writer, sheet_name='2020')
data_2021.to_excel(writer, sheet_name='2021')

In [61]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [17]:
nifty = get_history(symbol="NIFTY", start=date(2015,1,1), end=date(2015,1,10),index=True)

In [18]:
nifty

               Open     High      Low    Close     Volume      Turnover
Date
2015-01-01  8272.80  8294.70  8248.75  8284.00   56560411  2.321880e+10
2015-01-02  8288.70  8410.60  8288.70  8395.45  101887024  4.715720e+10
2015-01-05  8407.95  8445.60  8363.90  8378.40  118160545  5.525520e+10
2015-01-06  8325.30  8327.85  8111.35  8127.35  172799618  8.089190e+10
2015-01-07  8118.65  8151.20  8065.45  8102.10  164075424  7.464330e+10
2015-01-08  8191.40  8243.50  8167.30  8234.60  143802802  8.147400e+10
2015-01-09  8285.45  8303.30  8190.80  8284.50  152612528  9.305950e+10