In [27]:
import yfinance as yf

In [28]:
smybol= yf.Ticker("PNB.NS")

In [29]:
data = smybol.history(start="2021-5-25", end="2021-5-26", interval="5m")

In [30]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-05-25 09:15:00+05:30,40.400002,40.500000,40.099998,40.150002,0,0,0
2021-05-25 09:20:00+05:30,40.150002,40.250000,40.049999,40.049999,7608363,0,0
2021-05-25 09:25:00+05:30,40.049999,40.099998,39.799999,39.950001,8305283,0,0
2021-05-25 09:30:00+05:30,39.900002,39.950001,39.700001,39.700001,4471208,0,0
2021-05-25 09:35:00+05:30,39.700001,40.000000,39.599998,40.000000,6786852,0,0
...,...,...,...,...,...,...,...
2021-05-25 15:05:00+05:30,39.500000,39.500000,39.349998,39.400002,3470911,0,0
2021-05-25 15:10:00+05:30,39.400002,39.400002,39.250000,39.400002,4751553,0,0
2021-05-25 15:15:00+05:30,39.400002,39.400002,39.250000,39.299999,3944308,0,0
2021-05-25 15:20:00+05:30,39.349998,39.349998,39.250000,39.349998,4129723,0,0
2021-05-25 15:25:00+05:30,39.349998,39.450001,39.349998,39.400002,3828621,0,0

In [32]:
data['Close'].describe()

count    75.000000
mean     39.600667
std       0.165932
min      39.299999
25%      39.450001
50%      39.599998
75%      39.700001
max      40.150002
Name: Close, dtype: float64

In [33]:
data['Close'].mean()

39.60066685994466